@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

#cro-plugin-root {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

#cro-plugin-root ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#cro-plugin-root ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#cro-plugin-root ::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

#cro-plugin-root ::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
